flows-TEJASMT-Nodered.json
[{"id":"38c5bfb7.8181","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"572d03bf.bd7a2c","type":"function","z":"38c5bfb7.8181","name":"Prepare for Conversation","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":160,"wires":[["181560e1.4ab39f"]]},{"id":"a7817c81.f5cd4","type":"string","z":"38c5bfb7.8181","name":"Pre-Processing","methods":[{"name":"isNumeric","params":[]}],"prop":"payload.output.text[0]","propout":"isnum","object":"msg","objectout":"msg","x":600,"y":280,"wires":[["8f014940.ee55b8"]]},{"id":"8f014940.ee55b8","type":"function","z":"38c5bfb7.8181","name":"Temp Prepare for Telegram","func":"var op=\"\";\n\nvar numsymbols = [\"⏹\",\"1⃣\",\"2⃣\",\"3⃣\",\"4⃣\",\"5⃣\",\"6⃣\",\"7⃣\",\"8⃣\",\"9⃣\"];\n\nvar empty = \"🟢\";\n\nvar booked = \"🔴\";\n\nvar yourbooked = \"🟣\";\n\nif(msg.isnum)\n{\n  var seat=Math.abs(parseInt(msg.payload.output.text[0]));\n  col = seat%10;\n  row = Math.trunc(seat/10);\n  op=\"Seats Availability\\n\\n\"\n  \n  if(row-1<4 && col-1<9 && row!==0 && col!==0 )\n  {\n    if((row-1==1&&col-1==3)||(row-1==2&&col-1==5)||(row-1==2&&col-1==6)||(row-1===0&&col-1==6)||(row-1===0&&col-1==7)||(row-1===0&&col-1==8)||(row-1===0&&col-1==9))\n    {\n        op=\"Seat is already Booked\"   \n    }\n    else\n    {\n        for(i=0;i<10;i++)\n        op=op+numsymbols[i];\n  \n    for(i=0;i<4;i++)\n    {\n     op=op+\"\\n\"+numsymbols[i+1];\n     for(j=0;j<9;j++)\n     {\n         if((i==1&&j==3)||(i==2&&j==5)||(i==2&&j==6)||(i===0&&j==6)||(i===0&&j==7)||(i===0&&j==8)||(i===0&&j==9))\n         {\n            op=op+booked;\n         }\n         else if(i==row-1 && j==col-1)\n         op=op+yourbooked;\n         else\n         op=op+empty;\n     }\n    }\n    op=op+\"\\n\\n\\n\"+empty+\" = Available\"+\"\\n\"+booked+\" = Booked\"+\"\\n\"+yourbooked+\" = Seat Booked by You\"+\"\\n\\nHow would you like to pay for booking? We accept /Card , /UPI , and /Paytm .\";\n    }\n  }\n  else\n    op=\"Invalid Input\";\n  msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : op};\n}\nelse\n{\nif(msg.payload.output.text[0]==\"movieslist\")\n{\n  msg.payload = {\n  chatId : msg.chatId,\n  type : \"photo\",\n  caption: \"Movies List \\n /bookkgf2 \\n /booklaxmmibomb \\n /bookblackwidow\",\n  content : \"https://firebasestorage.googleapis.com/v0/b/tejasmt-fb.appspot.com/o/movieslist.jpg?alt=media&token=f0583ae1-ff44-4427-80a8-214491c09ff1\"}; \n}\nelse if(msg.payload.output.text[0]==\"blackwidowtrailer\")\n{\n  msg.payload = {\n  chatId : msg.chatId,\n  type : \"video\",\n  caption: \"/bookblackwidow\",\n  content : \"https://firebasestorage.googleapis.com/v0/b/tejasmt-fb.appspot.com/o/blackwidowtrailer.mp4?alt=media&token=3d1e4b11-c350-4aab-95fc-a8fe7d19f630\"};\n}\nelse if(msg.payload.output.text[0]==\"laxmmibombtrailer\")\n{\n  msg.payload = {\n  chatId : msg.chatId,\n  type : \"video\",\n  caption: \"/booklaxmmibomb\",\n  content : \"https://firebasestorage.googleapis.com/v0/b/tejasmt-fb.appspot.com/o/laxmmibombtrailer.mp4?alt=media&token=d011493f-4f42-444f-924f-6b5a747ae316\"};\n}\nelse if(msg.payload.output.text[0]==\"kgf2trailer\")\n{\n  msg.payload = {\n  chatId : msg.chatId,\n  type : \"video\",\n  caption: \"/bookkgf2\",\n  content : \"https://firebasestorage.googleapis.com/v0/b/tejasmt-fb.appspot.com/o/kgf2trailer.mp4?alt=media&token=09fc8bb3-b771-48ca-8f7b-3d1263b1da0b\"};\n}\nelse if(msg.payload.output.text[0]==\"seatmatrix\")\n{\n\n  op=\"Seats Availability\\n\\n\"\n  \n    for(i=0;i<10;i++)\n    {\n    op=op+numsymbols[i];\n    }\n  \n    for(i=0;i<4;i++)\n    {\n     op=op+\"\\n\"+numsymbols[i+1];\n     for(j=0;j<9;j++)\n     {\n         if((i==1&&j==3)||(i==2&&j==5)||(i==2&&j==6)||(i===0&&j==6)||(i===0&&j==7)||(i===0&&j==8)||(i===0&&j==9))\n         op=op+booked;\n         else\n         op=op+empty;\n     }\n    }  \n  msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : op+\"\\n\\n\\n\"+empty+\" = Available\"+\"\\n\"+booked+\" = Booked\"+\"\\n\\n To book seat in 3rd row and 5th coloumn simply type 35\"};\n}\nelse if (msg.payload.output.text.length>1)\n{\n  var multilinemsg=\"\";\n  for(i=0;i<msg.payload.output.text.length;i++)\n  multilinemsg=multilinemsg+msg.payload.output.text[i]+\"\\n\\n\";\n  msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : multilinemsg};\n}\nelse\n{\n  msg.payload = {\n  chatId : msg.chatId,\n  type : \"message\",\n  content : msg.payload.output.text[0]};\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":480,"wires":[["c073819a.b192"]]},{"id":"181560e1.4ab39f","type":"watson-conversation-v1","z":"38c5bfb7.8181","name":"TEJASMT-WA","workspaceid":"b6121220-8650-4541-9713-1ebd434568f1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":330,"y":280,"wires":[["a7817c81.f5cd4"]]},{"id":"39238f9e.9d2a6","type":"template","z":"38c5bfb7.8181","name":"Telegram Receiver","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":130,"y":80,"wires":[["572d03bf.bd7a2c"]]},{"id":"c073819a.b192","type":"template","z":"38c5bfb7.8181","name":"Telegram Sender","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":780,"y":480,"wires":[[]]}]